@use '../../../styles/abstract/colors' as clr;

.BgImgContainer {
  position: relative;
  grid-column: 2 / 10;
  // max-width: 50rem;
  height: 24rem;
}

.ClubImgContainer {
  overflow: hidden;
  position: relative;
  grid-column: 3/4;
  z-index: 50;
  height: 14rem;
  width: 14rem;
  background-color: clr.$color-secondary;
  transform: translateY(-7rem);
  border-radius: 50% !important;
  border: 15px solid clr.$color-secondary;
  box-sizing: content-box;
}

.TextContainer {
  grid-column: 4 / span 4;
  justify-self: start;
  margin-left: 1rem;
  h3 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.IconsContainer {
  display: flex;
  align-items: center;
  div {
    i {
      margin-right: 0.5rem;
    }
  }
}

.Divider {
  margin: 0 1rem;
  width: 2px;
  height: 1rem;
  background-color: clr.$color-primary;
}

.JoinBtn {
  justify-self: end;
  grid-column: 8 /9;
  align-self: start;
  margin-top: 1rem;
}

.Tabs {
  grid-column: 3 / span 4;
}
