@use '../../styles/abstract/colors' as clr;

.Modal {
  border-radius: 0.8rem;
  width: auto;
}

.ModalCloseBtn {
  background-color: clr.$color-primary;
  border-radius: 500px !important;
  svg {
    color: white !important;
  }
}


