@use '../../styles/abstract/colors' as clr;

.Input {
  border-color: clr.$color-primary !important;
  border-radius: 2px !important;
  border: 2px solid !important;
  &::placeholder {
    color: clr.$color-primary !important;
  }
}