@import '../../styles/variables';
.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0;
  border-bottom: 1px solid #ddd;
}

.navItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItem {
  font-weight: 700;
  // margin-right: 3px;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: color 0.3s;
  &:hover {
    color: rgba($color: #000000, $alpha: 0.5);
  }
}

.logo {
  
  font-family: 'Pacifico', cursive;
  padding: 5px;
  font-size: 26px;
  // background-color: $color-primary;
}
