@use './abstract/colors' as clr;
@use './abstract/typography' as typo;
@use './abstract/breakpoints' as bp;


html,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: clr.$color-primary;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: typo.$font-primary !important;
  // font-family: sans-serif;
  font-size: 14px;
  background-color: clr.$color-secondary !important;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.Toastify__toast--success {
  border-radius: 0 !important;
}